@model CourierManagement.MVC.ViewModels.BookConsignmentViewModel

@{
    ViewBag.Title = "BookConsignment";
    
}

<h2>BookConsignment</h2>


@using (Html.BeginForm("BookConsignment", "Users", method: FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row offset-1">
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(model => model.Consigner_Name, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Consigner_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Consigner_Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SAddress, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SCity, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        
                        @Html.EditorFor(model => model.SCity, new { htmlAttributes = new { @class = "form-control", @Value =@ViewBag.ConsignerCity, disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.SCity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SMobile_No, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SMobile_No, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SMobile_No, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(model => model.Consignee_Name, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Consignee_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Consignee_Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RAddress, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RCity, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RCity, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.ConsigneeCity, disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.RCity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RMobile_No, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RMobile_No, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RMobile_No, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row offset-1">
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Consignment_Type, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Consignment_Type, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.consignmentType, disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.Consignment_Type, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.Weight,disabled="disabled" } })
                        @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Billing_Amount, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Billing_Amount, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.totalPrice, disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.Billing_Amount, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group offset-5">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Book" class="btn btn-outline-success" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back", "Book","Users")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
