@model CourierManagement.MVC.ViewModels.AssignDEsViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Assign Consignments</h2>


@using (Html.BeginForm("Create", "Administrators", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Delivery_Id, htmlAttributes: new { @class = "control-label- col-md-2" })
            <div class="col-md-offset-2 col-md-10">
                @Html.DropDownListFor(c => c.Delivery_Id, new SelectList(ViewBag.AvailableDes, "Delivery_Id", "Name"), "Please Select", new { @class = "form-control" })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Consignment_Id, htmlAttributes: new { @class = "control-label- col-md-2" })
            <div class="col-md-offset-2 col-md-10">
                @Html.DropDownListFor(c => c.Consignment_Id, new SelectList(ViewBag.PendingConsignmnets, "Consignment_Id", "Consignment_Id"), "Please Select", new { @class = "form-control" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Assign" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Create", "ConsignmentStatus")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
